
#content {
    border-radius: 12px 12px  0 0;
    background-color: var(--background);
    width: 600px;
    height: 60vh;
    margin: auto;
    margin-top: -80px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

    h2{
        font-size: 28px;    
        margin-left: 20px;
        margin-top: 15px;
    }

    #insertion-area {
        display: flex;
        justify-content:space-around;
        margin-left: 50px;
        margin-top: 15px;
        padding: 2px;
    }

    input {
        color: var(--text-light);
        height: 40px;
        border: none;
        border-radius: 12px;
        background-color: var(--shapes);

    }

    button{
        background-color: var(--green);
        border: none;
        width: 22px;
        height: 22px;
        margin-top: 10px;   
    }
    
}

